body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header{
    display: flex;
}

.header ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
}
.header a{
    text-decoration: none;
    font-size: 18px;
}
.header a, .hero-section p{
    color: #E5E7EB;
    font-size: 18px;
}
.header-logo{
    font-size: 24px;
}
.hero-main-text, .header-logo{
    color: #f9faf8;
}
.nav-bar{
    margin-left: auto;
}

.header, .hero-section, .footer{
    background-color: #1F2937;
}

.hero-main-text{
    font-size: 48px;
    font-weight: extra-bold;
}