/* *{
    border: 1px solid black;
} */
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
button{
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
}

.header, .hero-section, .information-section, .quote-section, .call-to-action-section{
    padding-left: 10%;
    padding-right: 10%;
}
.header{
    display: flex;
    align-items: center;
}

.header ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    column-gap: 10px;
}
.header a{
    text-decoration: none;
    font-size: 18px;
}
.header a, .hero-section p{
    color: #E5E7EB;
    font-size: 18px;
}
.header-logo{
    font-size: 24px;
}
.hero-main-text, .header-logo{
    color: #f9faf8;
}
.nav-bar{
    margin-left: auto;
}

.header, .hero-section, .footer{
    background-color: #1F2937;
}

.hero-section{
    display: flex;
    padding-top: 10vh;
    padding-bottom: 10vh;
}
.hero-main-text{
    font-size: 48px;
    font-weight: extra-bold;
    
}

.hero-text{
    display: flex;
    flex-direction: column;
    width: 30%;
    align-items: flex-start;
}
.hero-img{
    width: 50%;
    height: 40vh;
    margin-left: auto;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

button, .call-to-action-section{
    background-color: #3882F6;
}

.information-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.information-section h2{
    font-size: 36px;
    font-weight: 1000;
}
.info-items{
    display: flex;
    justify-content: space-evenly;
    column-gap: 52px;
}
.info-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15vw;
    text-align: center;
}

.info-item img{
    width: 15vw;
    height: auto;
    border: 2px solid rgb(87, 153, 181);
    border-radius: 10px;
}

.quote-section{
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 10vh 18vw;
}

.quote, .information-section h2{
    color: #1F2937
}
.quote{
    font-size: 36px;
    font-weight: 0;
    font-style: italic;   
}
.quote-by-line{
    align-self: flex-end;
    font-size: 20px;
    font-weight: bold;
}

.call-to-action-section{
    margin: 5vh 20vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
}

.call-to-action-section .text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 40vw;
}

.call-to-action-section h2{
    margin-bottom: -10px;
}

.call-to-action-section button{
    border: 2px solid white;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 10vh;
    flex-shrink: 0;
}