body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.header, .hero-section, .information-section, .quote-section, .call-to-action-section{
    padding-left: 10%;
    padding-right: 10%;
}
.header{
    display: flex;
}

.header ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
}
.header a{
    text-decoration: none;
    font-size: 18px;
}
.header a, .hero-section p{
    color: #E5E7EB;
    font-size: 18px;
}
.header-logo{
    font-size: 24px;
}
.hero-main-text, .header-logo{
    color: #f9faf8;
}
.nav-bar{
    margin-left: auto;
}

.header, .hero-section, .footer{
    background-color: #1F2937;
}

.hero-section{
    display: flex;
}
.hero-main-text{
    font-size: 48px;
    font-weight: extra-bold;
    
}

.hero-text{
    display: flex;
    flex-direction: column;
    width: 30%;
    align-items: flex-start;
}
.hero-img{
    width: 50%;
    height: 40vh;
    margin-left: auto;
}

button, .call-to-action-section{
    background-color: #3882F6;
}